@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
}
p {
  padding-bottom: 5px;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  background-color: var(--white);
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}
.__container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}
.wrapper .header {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-bottom: 2px solid var(--gray-dark);
}
.wrapper .header .logo {
  margin: 2px 2px 2px 10px;
  align-self: center;
  width: 120px;
  animation: blur 3s ease 0s;
}
@keyframes blur {
  0%,
  90% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
  }
}
/* ---------під Меню першого пункта ------------------------------------------------------ */
.wrapper .container .article {
  margin-top: 8px;
  margin-bottom: 20px;
}
.wrapper .main .article .pages {
  margin: 10px;
}
@media (max-width: 550px) {
  .wrapper .main .article .pages h3,
  p {
    font-size: 0.9rem;
  }
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid purple;
  width: auto;
  font-size: 16px;
  margin-top: 10px;
}
td,
th {
  padding: 5px;
  border: solid 1px #ccc;
}
th:nth-child(2) {
  padding-left: 10px;
  text-align: left;
}
thead th,
tfoot th,
tfoot td {
  border: 1px solid purple;
}
@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}
.wrapper .container .article .map {
  margin-top: 15px;
}
.wrapper .container .article .info_box {
  text-align: center;
}
.wrapper .container .article a {
  color: #2f3b6f;
}
.wrapper .container .article a:hover {
  color: #020e42;
}
.wrapper .container .article .communication {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  margin-top: 10px;
}
.wrapper .container .article .communication #required {
  color: #fe8d00;
}
.wrapper .container .article .communication .item_in {
  font-size: 16px;
  padding-left: 20px;
}
.wrapper .container .article .communication .item_f input {
  margin-bottom: 5px;
  color: #333;
  padding-left: 30px;
}
.wrapper .container .article .communication .item_f span {
  color: #d20001;
  font-size: 14px;
  font-weight: 600;
}
.wrapper .container .article .communication input {
  width: 250px;
  padding: 5px;
}
.wrapper .container .article .communication textarea {
  width: 235px;
  height: 60px;
  padding: 5px;
}
.wrapper .container .article .communication #button_form {
  background-color: #ecbe2a;
  width: 250px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 9px;
}
.wrapper .container .article .communication #button_form:hover {
  background-color: #fe8d00;
}
.wrapper .container .article .line_active {
  color: #375800;
  border: 2px solid #30a100;
  width: max-content;
  padding: 5px 10px;
  font-size: 18px;
}
.wrapper .footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-dark);
  padding: 10px;
}
.wrapper .footer a {
  text-decoration: none;
  color: #ffffff;
  align-self: center;
  transition: 0.2s;
  border: none;
  outline: none;
}
.wrapper .footer a:hover {
  color: #ecbe2a;
  transition: 0.2s;
}
.wrapper .footer #top {
  display: block;
  width: 0;
  height: 0;
  left: 30px;
  bottom: 30px;
  border: 10px solid transparent;
  border-bottom-color: white;
  cursor: pointer;
}
.wrapper .footer #top:hover {
  border-bottom-color: #ecbe2a;
}
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .wrapper .header {
    font-size: 0.8rem;
  }
}
